# Ignore directories:
script_tests/
nextflow/
data/
results/
logs/
.nextflow/

# Ignore log files
*.log
log*
*.out
*.err
.nextflow.log*

# Ignore common data/output extensions
*.fasta
*.gz
*.fastq
*.gb

# Ignore obsolete scripts
all_novoplasty_std.sh