# Ignore directories:
script_tests/
nextflow/
data/
results/
logs/
.nextflow/
work/
test/

# Ignore log files
*.log
log*
*.out
*.err
.nextflow.log*

# Ignore common data/output extensions
*.fasta
*.gz
*.fastq
*.gb

# Ignore obsolete scripts
all_novoplasty_std.sh
main_cp_pipeline.sh
novoplast_std.sh
all_main_pipeline.sh
bwa_map.sh
check_results.sh