// nextflow.config


// Define global variables (Parameters)
params {
    input_dir = "data/reads"
    ref_seed  = "data/ref/seed.fasta"
    ref_gb    = "data/ref/reference.gb"
    out_dir   = "results"
    
    // Default hardware (Laptop safe)
    cpus         = 6
    memory       = '8 GB'
    fastp_cpus   = 6
    fastp_memory = '8 GB'
}


// Profiles
profiles {

    // Profile 1: For the standard user on a laptop/desktop
    standard {
        docker.enabled         = true
        singularity.enabled    = false
        process.executor       = 'local'
        
        // Laptop hardware limits
        params.cpus         = 6
        params.memory       = '8 GB'
        params.fastp_cpus   = 6
        params.fastp_memory = '8 GB'
    }

    // Profile 2: For university HPC users
    hpc {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        process.executor       = 'slurm'
        singularity.cacheDir   = "${System.getenv('HOME')}/singularity_images"
        
        // Supercomputer hardware limits
        params.cpus         = 16
        params.memory       = '64 GB'
        params.fastp_cpus   = 8
        params.fastp_memory = '32 GB'
    }

    // Profile 3: For users on AWS Cloud
    aws {
        docker.enabled         = true
        process.executor       = 'awsbatch'
        aws.region             = 'us-east-1'
        aws.batch.cliPath      = '/home/ec2-user/miniconda/bin/aws'
        // AWS users will typically provide their own queue via command line
        // e.g., --queue 'my-aws-queue'

        params.cpus         = 6
        params.memory       = '8 GB'
        params.fastp_cpus   = 6
        params.fastp_memory = '8 GB'
    }
}

// Global Process Block
process {
    cpus   = params.cpus
    memory = params.memory
    
    withName: FASTP {
        cpus   = params.fastp_cpus
        memory = params.fastp_memory
    }
}