// nextflow.config

// 1. Define global variables (Parameters) that you can change at the command line
params {
    input_dir = "data/reads"
    ref_seed  = "data/ref/seed.fasta"
    ref_gb    = "data/ref/reference.gb"
    out_dir   = "results"
}

// 2. Default resource limits (These apply universally, regardless of where it runs)
process {
    cpus   = 16
    memory = '64 GB'   

    withName: FASTP {
        cpus   = 8
        memory = '32 GB'
    }
}

// 3. Profiles (The Infrastructure Routing)
profiles {

    // Profile 1: For the standard user on a laptop/desktop
    standard {
        docker.enabled         = true
        singularity.enabled    = false
        process.executor       = 'local'
    }

    // Profile 2: For university HPC users (like your SLURM cluster)
    hpc {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.cacheDir   = "$HOME/singularity_images"
        docker.enabled         = false
        process.executor       = 'slurm'
    }

    // Profile 3: For industry users on AWS Cloud
    aws {
        docker.enabled         = true
        process.executor       = 'awsbatch'
        aws.region             = 'us-east-1'
        aws.batch.cliPath      = '/home/ec2-user/miniconda/bin/aws'
    }
}