// nextflow.config

// 1. Tell Nextflow to use a singularity (as Docker cannot be used in HPC directly)
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/singularity_images" // Saves images here so it doesn't download them twice
}

// 2. Define global variables (Parameters) that you can change at the command line
params {
    input_dir = "data/reads"
    ref_seed  = "data/ref/seed.fasta"
    ref_gb    = "data/ref/reference.gb"
    out_dir   = "results"
}

// 3. Default resource profiles (can be overridden)
process {
    executor = 'slurm'
    cpus   = 16
    memory = '64 GB'   

    withName: FASTP {
        cpus   = 8
        memory = '32 GB'
    }
}